@font-face {
  font-family: "zabras";
  src: url(./fonts/zabars.ttf);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "zabras", Arial, Helvetica, sans-serif;
  background-image: url(./img/10_start_background/01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

h1 {
  font-size: 64px;
  letter-spacing: 3px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  /* position: absolute; */
}

canvas {
  background-color: black;
  display: block;
}

#game-over-screen {
  width: 720px;
  height: 480px;
  position: absolute;

  .game-over-background,
  .game-over-write {
    width: 100%;
    height: 100%;
  }

  .game-over-write {
    z-index: 10;
    position: absolute;
  }
}

#start-screen {
  width: 720px;
  height: 480px;
  position: absolute;
  z-index: 10;
}

.game_over_background,
.start-background {
  position: absolute;
  width: 720px;
  height: 480px;
}

.restart-btn {
  position: absolute;
  z-index: 11;
  bottom: 20%;
  text-align: center;
  border: none;
  background-color: #ffc707;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-family: "zabras", Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: black;
  border: solid transparent;
  border-radius: 10px;
  padding: 6px;
}

.description {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 22px;
  background-color: #ffc707;
  z-index: 11;

  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }

  h1 {
    display: none;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  h1 {
    display: none;
  }
}
